<!-- <form [formGroup]="form" (ngSubmit)=save($event)>
  <div formGroupName="fullName">
    <mat-form-field appearance="fill">
      <mat-label>Name: {{nameField.value}}</mat-label>
      <input matInput type="text" formControlName="name">
      <mat-icon matSuffix *ngIf="isNameFieldValid">done</mat-icon>
      <mat-icon matSuffix *ngIf="isnameFieldInvalid">close</mat-icon>
    </mat-form-field>
    <mat-error *ngIf="nameField.hasError('required')">Este campo es requerido</mat-error>
    <mat-error *ngIf="nameField.hasError('maxLength')">debe tener maximo 10 caracteres</mat-error>
    <mat-error *ngIf="nameField.hasError('pattern')">No puede tener caracteres especiales</mat-error>
  </div>
</form> -->