.container {
  margin: 20px;
}

.categories-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
.categories-card-header {
  margin-bottom: 16px;
}
.categories-card-content {
  margin-top: 2%;
  text-align: center;
}
