<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Producto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input placeholder="Name" formControlName="name" matInput type="text">
            <mat-error *ngIf="nameField.touched && nameField.hasError('required')">Name is required</mat-error>
            <mat-error *ngIf="nameField.touched && nameField.hasError('minlength')">Name must have at least 4 characters</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input placeholder="Price" formControlName="price" matInput type="number">
            <mat-error *ngIf="priceField.touched && priceField.hasError('price_invalid')">Price must not be higher than 10000</mat-error>
            <mat-error *ngIf="priceField.touched && priceField.hasError('required')">Price is required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <textarea placeholder="Text" formControlName="description" matInput></textarea>
            <mat-error *ngIf="descriptionField.touched && descriptionField.hasError('required')">Description is required</mat-error>
            <mat-error *ngIf="descriptionField.touched && descriptionField.hasError('minlength')">Description must have at least 10 characters</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <img *ngIf="(image$ | async) as image" [src]="image" alt="">
          <input type="file" (change)="uploadFile($event)">
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input placeholder="Category" formControlName="category_id" matInput type="text">
            <mat-error *ngIf="priceField.touched && priceField.hasError('required')">Price is required</mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="form.invalid" mat-raised-button type="submit">Guardar</button>
    </mat-card-actions>
  </mat-card>
  
</form>
