<form [formGroup]="form" (ngSubmit)="save()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Category</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input placeholder="Name" formControlName="name" matInput type="text">
            <mat-error *ngIf="nameField.touched && nameField.hasError('required')">
              Name is required
            </mat-error>
            <mat-error *ngIf="nameField.touched && nameField.hasError('minlength')">
              Name must have at least 4 characters
            </mat-error>
            <mat-error *ngIf="nameField.hasError('notAvailable')">
              This name is already taken.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <button type="button" (click)="fileInput.click()" mat-mini-fab color="primary"><mat-icon>insert_photo</mat-icon></button>
          <input #fileInput (change)="uploadFile($event)" placeholder="Image" type="file" style="display: none;">
          <mat-progress-bar class="category__form__progress-bar" *ngIf="showProgressBar" mode="determinate" [value]="progressValue"></mat-progress-bar>
          <br/>
          <img *ngIf="imageField.value" [src]="imageField.value" alt="image to upload">
          <mat-error *ngIf="imageField.touched && imageField.hasError('required')">
            Image is required
          </mat-error>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button type="submit" [disabled]="!imageField.value">Save category</button>
    </mat-card-actions>
  </mat-card>
</form>
